<div>
  <h1>Denkanstöße und Diskussionsanregungen</h1>
  <ul>
    <li>Welche Vorteile bietet eine CO<sub>2</sub>-Bilanz im Vergleich zu einer umfassenden LCA? Wo liegen die Limits von CO<sub>2</sub>-Bilanzen?</li>
    <li>Welche Dimensionen der Brundtland Definition von „Sustainable Development“ deckt eine CO<sub>2</sub>-Bilanz ab? Welche Dimensionen fehlen?</li>
    <li>Ein Vorteil von CO<sub>2</sub>-Bilanzen ist die einfache Quantifizierbarkeit. Welche anderen, quantifizierbaren Aspekte werden nicht berücksichtigt?</li>
  </ul>
</div>