<div>
    <div class="row">
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked sidenav hidden-phone">
                <li><a href="#/spiel">Picknick<i class="icon-chevron-right pull-right"></i></a></li>
                <li class="active"><a href="#/spiel/szenario2">Lernwochenende<i class="icon-chevron-right pull-right"></i></a></li>
                <li><a href="#/spiel/szenario3">Grillfest<i class="icon-chevron-right pull-right"></i></a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="fixed-content">
                <table class="table table-bordered fixedtable">
                    <tbody>
                        <tr>
                            <td class="span2">Verfügbares Geld:</td>
                            <td class="span2">{{getBudget()|currency:"&euro;"}}</td>
                            <td class="span5">
                                <div class="progress progress-success progress-striped active">
                                    <div class="bar" style="width: {{getBudget('pro')}}%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Verbrauchte CO<sub>2</sub>eq:</td>
                            <td>{{getCo2()|number:2}} g</td>
                            <td>
                                <div class="progress progress-danger progress-striped active">
                                    <div class="bar" style="width: {{getCo2('pro')}}%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Aktuelle Zufriedenheit:</td>
                            <td>{{getHappiness()|number:0}}</td>
                            <td>
                                <div class="progress progress-help progress-striped active">
                                    <div class="bar" style="width: {{getHappiness('pro')}}%;"></div>    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="content">
                <h1>Lernwochenende</h1>
                <h2>Szenario Beschreibung</h2>
                <p>Das Wintersemester ist beinahe zu Ende und du stellst mit schrecken fest, dass du für die Prüfungen in der nächsten Woche noch sehr viel zu lernen hast. Du entschließt dich von Freitag Mittag bis Sonntag Abend ein intensives Lernwochenende zu machen und willst den Freitag Vormittag für die Besorgungen dafür zu nutzen. Der Blick in deinen Kühlschrank ist ebenso ernüchternd, wie der in den Vorratsschrank. Bis auf Gewürze, Öl, Essig, Zucker, Mehl, Kaffee und Tee hast du nichts mehr zu Hause. Außerdem ist dein Monatsbudget beinahe aufgebraucht. Die 20 Euro in deiner Geldtasche müssen also reichen.</p>
                <h2>Produktauswahl</h2>
                <div modal="shouldBeOpen" close="close()" options="opts">
                    <div class="modal-header">
                        <h4>{{modalHeader}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{modalContent}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
                    </div>
                </div>
                <dl>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Produktart</th>
                                <th>Produkt</th>
                                <th>Größe<br />(g oder ml)</th>
                                <th>Preis</th>
                                <th>CO<sub>2</sub>eq Verbrauch</th>
                                <th>Stück</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="products in scenario1Products">
                                <td><button class="btn btn-small" ng-click="open(products.product.art)">{{products.product.art}}</button></td>
                                <td>{{products.product.name}}</td>
                                <td>{{products.product.size}}</td>
                                <td>{{products.product.price|currency:"&euro;"}}</td>
                                <td>{{products.product.co2|number:2}} g</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn" ng-class="{active: '0'==getAmount(products.product.id)}" ng-click="exec(products.product.id,0)">0</button>
                                        <button type="button" class="btn" ng-class="{active: '1'==getAmount(products.product.id)}" ng-click="exec(products.product.id,1)">1</button>
                                        <button type="button" class="btn" ng-class="{active: '2'==getAmount(products.product.id)}" ng-click="exec(products.product.id,2)">2</button>
                                        <button type="button" class="btn" ng-class="{active: '3'==getAmount(products.product.id)}" ng-click="exec(products.product.id,3)">3</button>
                                        <button type="button" class="btn" ng-class="{active: '4'==getAmount(products.product.id)}" ng-click="exec(products.product.id,4)">4</button>
                                        <button type="button" class="btn" ng-class="{active: '5'==getAmount(products.product.id)}" ng-click="exec(products.product.id,5)">5</button>
                                    </div>   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dl>
            </div>
        </div>
    </div>
</div>