<div class="hero-unit">
    <div class="row">
        <div class="span3">
            <img src="img/sustainicum-logo-270x270.png" alt="Sustainicum Logo" title="Sustainicum Logo">
        </div>
        <div class="span6">
            <h1>CO<sub>2</sub> betrifft uns.</h1>
            <p>Sustainicum bietet Dir die Möglichkeit dich näher mit diesem Thema zu beschäftigen. Um bestmöglich zu informieren bieten wir Dir die Möglichkeit bei einem unserer Einkaufszenearien einen nachhaltigen Einkauf zu simulieren.</p>
            <p><a href="#/spiel"class="btn btn-primary btn-large">Spiele jetzt &raquo;</a></p>
        </div>
    </div>
    
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Produktion von CO<sub>2</sub></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere et saepe alias ea culpa assumenda itaque molestiae. Iusto quos voluptate.. </p>
        <p><a class="btn" href="#">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Über uns</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Mehr erfahren &raquo;</a></p>
   </div>
    <div class="span4">
        <h2>Be social</h2>
        <p>Facebook / Twiter Share</p>
        <img data-src="holder.js/50x50" alt="Facbeook" titile="Facebook">
        <img data-src="holder.js/50x50" alt="Twitter" title="Twitter">
    </div>
</div>
