<div class="hero-unit">
    <div class="row">
        <div class="span3">
            <img src="img/sustainicum-logo-380x380.png" alt="Sustainicum Logo" title="Sustainicum Logo">
        </div>
        <div class="span6">
            <h1>CO<sub>2</sub> Bilanz</h1>
            <p>CO<sub>2</sub>-Bilanzen sind ein einfacher und rascher Weg bestimmte Umweltwirkungen von Produkten, Dienstleistungen, etc. auszudrücken. Durch Simulation von Einkaufsszenarien bietet sich die Möglichkeit, erste Erfahrungen mit CO<sub>2</sub>-Bilanzen zu sammeln.</p>
            <p><a href="#/spiel"class="btn btn-primary btn-large">Zum Spiel &raquo;</a></p>
        </div>
    </div>
    
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span5">
        <h2>Der Baustein</h2>
        <p>Dieser Sustainicum Baustein soll anhand eines Einkaufssimulators den Begriff der CO<sub>2</sub> Bilanz näher bringen. Es wurden 3 Szenarien des studentischen Alltags entwickelt. Aufgabe ist es, unter Einhaltung eines vorgegebenen CO<sub>2</sub> als auch Geldbudgets 100 oder mehr Zufriedenheitspunkte zu erreichen. Die Budgets sind bewusst relativ knapp gehalten, sollen sie doch einerseits die ökonomische Realität der Studierenden und anderseits eine wünschenswerte Reduktion von Treibhausgasemission durch privaten Konsum abbilden.</p>
        <p><a class="btn" href="#/baustein">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="span2"></div>

    <div class="span5">
        <h2>Denkanstöße und Diskussionsanregungen</h2>
        <p>Welche Vorteile bietet eine CO<sub>2</sub>-Bilanz im Vergleich zu einer umfassenden LCA? Wo liegen die Limits von CO<sub>2</sub>-Bilanzen?</p>
        <p>Welche Dimensionen der Brundtland Definition von „Sustainable Development“ deckt eine CO<sub>2</sub>- Bilanz ab? Welche Dimensionen fehlen?</p>
        <p><a class="btn" href="#/diskussion">Mehr erfahren &raquo;</a></p>
   </div>
</div>
