<div>
  <h1>Impressum</h1>
  <p>Dieser Baustein wurde für das Projekt Sustainicum entwickelt. Graphische Umsetzung <a href="http://pmig.at">Philip Miglinci</a>. Für den Inhalt verantwortlich Franz Michalke. Für die Quellenangabe bitte an den Autor wenden.</p>
  <h3>Kontaktinformationen</h3>
  <address>
    <strong>Franz Michalke</strong></br>
    Universität für Bodenkultur</br>
    Borkowskigasse 4, Baracke 4</br>
    <a href="mailto:franz.michalke@boku.ac.at">franz.michalke(at)boku.ac.at</a>
  </address>
</div>