<div>
    
    <div class="row">
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked sidenav hidden-phone">
                <li><a href="/spiel" onclick="document.getElementById('s1').scrollIntoView();">Szenario1<i class="icon-chevron-right pull-right"></i></a></li>
                <li><a href="/spiel" onclick="document.getElementById('s2').scrollIntoView();">Szenario2<i class="icon-chevron-right pull-right"></i></a></li>
            </ul>
        </div>
        <div class="span9">
            <h1>CO<sub>2</sub> Verbrauch Szenarios</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum porro asperiores mollitia ullam nemo possimus iure autem facilis ipsam provident harum delectus minus explicabo. Expedita laboriosam ea est minus animi earum quidem rerum architecto modi dolores possimus saepe consequatur illum eos magnam! Illum consectetur tempora dolor possimus minima qui non quidem porro est voluptate ex eaque cum minus provident at nesciunt nulla similique officiis labore beatae optio excepturi expedita. Voluptate in doloremque qui minima nesciunt nihil esse eligendi quaerat eaque et accusantium magni recusandae impedit maxime voluptatem quasi aut. Magnam distinctio culpa! Libero ad ex voluptates tempora facilis ipsa similique?</p>
            <div id="s1">
                <h2>Szenario1</h2>
                <h3>Szenario Übersicht</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="span2">Verfügbares Geld:</td>
                            <td class="span2">{{getBudget()|currency:"&euro;"}}</td>
                            <td class="span5">
                                <div class="progress progress-success progress-striped active">
                                    <div class="bar" style="width: {{getBudget('pro')}}%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Verbrauchtes CO<sub>2</sub>:</td>
                            <td>{{getCo2()|number:2}} mg/m<sup>2</sup></td>
                            <td>
                                <div class="progress progress-danger progress-striped active">
                                    <div class="bar" style="width: {{getCo2(pro)}}%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Aktuelle Zufriedenheit:</td>
                            <td>{{getHappiness()|number:0}}</td>
                            <td>
                                <div class="progress progress-help progress-striped active">
                                    <div class="bar" style="width: {{getHappiness(pro)}}%;"></div>    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                
                <h3>Produktauswahl</h3>
                <dl>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Prdoukt</th>
                                <th>Preis</th>
                                <th>CO<sup>2</sup> Verbrauch</th>
                                <th>Stück</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="products in scenario1Products">
                                <td>{{products.product.name}}</td>
                                <td>{{products.product.price|currency:"&euro;"}}</td>
                                <td>{{products.product.co2|number:2}} mg/m<sup>2</sup></td>
                                <td>
                                        <div class="btn-group">
                                        <button type="button" class="btn" ng-class="{active: '0'==getAmount(products.product.id)}" ng-click="exec(products.product.id,0)">0</button>
                                        <button type="button" class="btn" ng-class="{active: '1'==getAmount(products.product.id)}" ng-click="exec(products.product.id,1)">1</button>
                                        <button type="button" class="btn" ng-class="{active: '2'==getAmount(products.product.id)}" ng-click="exec(products.product.id,2)">2</button>
                                        <button type="button" class="btn" ng-class="{active: '3'==getAmount(products.product.id)}" ng-click="exec(products.product.id,3)">3</button>
                                        <button type="button" class="btn" ng-class="{active: '4'==getAmount(products.product.id)}" ng-click="exec(products.product.id,4)">4</button>
                                        <button type="button" class="btn" ng-class="{active: '5'==getAmount(products.product.id)}" ng-click="exec(products.product.id,5)">5</button>
                                    </div>   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </dl>
            </div>
            <hr>
            <div id="s2">
                <h2>test</h2>
                <div height="200px"></div>
            </div>

            
        </div>
    </div>
</div>